.dockerignore
Dockerfile
dev.Dockerfile

.git
*.md
.gitignore
.DS_Store
.vscode
node_modules
dist
build

logs
*.log
yarn-debug.log*
yarn-error.log*
.npmrc

example.*
.env.development
.env.production
.env.local
.env
